.content {
  h2 {
    font-size: 20px;
    font-weight: bold;
    color: #0a527a;
  }

  p {
    font-size: 14px;
    color: #0a527a;
    font-family: 'Arial' sans-serif;
    margin-bottom: 20px;
    text-align: justify;
  }

  ul {
    font-size: 15px;
    color: #0a527a;
    li {
      font-family: 'Arial' sans-serif;
      line-height: 28px;
    }
  }
}