%footer.footer
  .container
    .row
      .span4
        %h4 Завод ИМПЗ
        %p © Все права защищены 2013 год
        %p Любое компирование без уведомления администрации строго запрещено
      .span4
        %h4.phone
          8 (8422)
          %span
            11 22 33
        %p Ульяновская область, улица Вокзальная 17

      .span4
        %p Написать письмо
        %a(href="mailto:impz.inza@yandex.ru") impz.inza@yandex.ru
        %p Свяжитесь с нами с помощью электронной почты
