%footer.footer
  .container
    .row
      .span4
        %h4 Завод ИМПЗ
        %p © Все права защищены 2013 год
        %p Любое компирование без уведомления администрации строго запрещено
      .span4
        %h4.phone
          8 (84241)
          %span 2-46-83
        %h4.phone
          8 937
          %span 989-85-40
        %p
          Ульяновская область, город Инза,
          %br
          улица Вокзальная, 18

      .span4
        %p Написать письмо
        %a(href="mailto:impz.inza@yandex.ru") impz.inza@yandex.ru
        %p Свяжитесь с нами с помощью электронной почты
